=begin
#Stability.ai REST API

#Welcome to the Stability.ai REST API developer preview!  Please note, this is an alpha version of our new REST API, and is subject to change according to your feedback.  Feedback during this test is crucial for us to understand what the pain points are and how we can improve it going forward.  Changes will be communicated here, as well as on our online REST API documentation, which can be found at: https://api.stability.ai/docs  Your DreamStudio API key will be required for authentication. You can learn more about API keys here: https://platform.stability.ai/docs/getting-started/authentication  If you encounter any issues, please let us know in the #API discord channel: https://discord.gg/stablediffusion 

The version of the OpenAPI document: 0.1
Contact: info@stability.ai
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class V1alphaGenerationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # image-to-image
    # Generate big fancy pictures from small fancy pictures
    # @param engine_id [String]  
    # @param accept [String]  
    # @param init_image [File] Initial image to use for the image-to-image generation
    # @param options [ImageToImageOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used.
    # @return [nil]
    def v1alpha_generation_image_to_image(engine_id, accept, init_image, options, opts = {})
      v1alpha_generation_image_to_image_with_http_info(engine_id, accept, init_image, options, opts)
      nil
    end

    # image-to-image
    # Generate big fancy pictures from small fancy pictures
    # @param engine_id [String]  
    # @param accept [String]  
    # @param init_image [File] Initial image to use for the image-to-image generation
    # @param options [ImageToImageOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1alpha_generation_image_to_image_with_http_info(engine_id, accept, init_image, options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: V1alphaGenerationApi.v1alpha_generation_image_to_image ...'
      end
      # verify the required parameter 'engine_id' is set
      if @api_client.config.client_side_validation && engine_id.nil?
        fail ArgumentError, "Missing the required parameter 'engine_id' when calling V1alphaGenerationApi.v1alpha_generation_image_to_image"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling V1alphaGenerationApi.v1alpha_generation_image_to_image"
      end
      # verify enum value
      allowable_values = ["image/png", "application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'init_image' is set
      if @api_client.config.client_side_validation && init_image.nil?
        fail ArgumentError, "Missing the required parameter 'init_image' when calling V1alphaGenerationApi.v1alpha_generation_image_to_image"
      end
      # verify the required parameter 'options' is set
      if @api_client.config.client_side_validation && options.nil?
        fail ArgumentError, "Missing the required parameter 'options' when calling V1alphaGenerationApi.v1alpha_generation_image_to_image"
      end
      # resource path
      local_var_path = '/v1alpha/generation/{engine_id}/image-to-image'.sub('{' + 'engine_id' + '}', CGI.escape(engine_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.goa.error'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Accept'] = accept
      header_params[:'Organization'] = opts[:'organization'] if !opts[:'organization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['init_image'] = init_image
      form_params['options'] = options

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key_header_Authorization']

      new_options = opts.merge(
        :operation => :"V1alphaGenerationApi.v1alpha_generation_image_to_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V1alphaGenerationApi#v1alpha_generation_image_to_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # image-to-image/masking
    # Paint fancy things into fancy pictures
    # @param engine_id [String]  
    # @param accept [String]  
    # @param init_image [File] Initial image to use for the image-to-image generation
    # @param options [MaskingOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used.
    # @option opts [File] :mask_image Optional mask image to use for masking. Must be the same dimensions as the &#x60;init_image&#x60;. Use the &#x60;mask_source&#x60; option to specify whether the white or black pixels should be inpainted. (Note: if you set &#x60;mask_source&#x60; to &#x60;INIT_IMAGE_ALPHA&#x60; you can omit the &#x60;mask_image&#x60; parameter completely.)
    # @return [nil]
    def v1alpha_generation_masking(engine_id, accept, init_image, options, opts = {})
      v1alpha_generation_masking_with_http_info(engine_id, accept, init_image, options, opts)
      nil
    end

    # image-to-image/masking
    # Paint fancy things into fancy pictures
    # @param engine_id [String]  
    # @param accept [String]  
    # @param init_image [File] Initial image to use for the image-to-image generation
    # @param options [MaskingOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used.
    # @option opts [File] :mask_image Optional mask image to use for masking. Must be the same dimensions as the &#x60;init_image&#x60;. Use the &#x60;mask_source&#x60; option to specify whether the white or black pixels should be inpainted. (Note: if you set &#x60;mask_source&#x60; to &#x60;INIT_IMAGE_ALPHA&#x60; you can omit the &#x60;mask_image&#x60; parameter completely.)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1alpha_generation_masking_with_http_info(engine_id, accept, init_image, options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: V1alphaGenerationApi.v1alpha_generation_masking ...'
      end
      # verify the required parameter 'engine_id' is set
      if @api_client.config.client_side_validation && engine_id.nil?
        fail ArgumentError, "Missing the required parameter 'engine_id' when calling V1alphaGenerationApi.v1alpha_generation_masking"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling V1alphaGenerationApi.v1alpha_generation_masking"
      end
      # verify enum value
      allowable_values = ["image/png", "application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'init_image' is set
      if @api_client.config.client_side_validation && init_image.nil?
        fail ArgumentError, "Missing the required parameter 'init_image' when calling V1alphaGenerationApi.v1alpha_generation_masking"
      end
      # verify the required parameter 'options' is set
      if @api_client.config.client_side_validation && options.nil?
        fail ArgumentError, "Missing the required parameter 'options' when calling V1alphaGenerationApi.v1alpha_generation_masking"
      end
      # resource path
      local_var_path = '/v1alpha/generation/{engine_id}/image-to-image/masking'.sub('{' + 'engine_id' + '}', CGI.escape(engine_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.goa.error'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Accept'] = accept
      header_params[:'Organization'] = opts[:'organization'] if !opts[:'organization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['init_image'] = init_image
      form_params['options'] = options
      form_params['mask_image'] = opts[:'mask_image'] if !opts[:'mask_image'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key_header_Authorization']

      new_options = opts.merge(
        :operation => :"V1alphaGenerationApi.v1alpha_generation_masking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V1alphaGenerationApi#v1alpha_generation_masking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # text-to-image
    # Generate an image from text
    # @param engine_id [String]  
    # @param accept [String]  
    # @param text_to_image_request_body [TextToImageRequestBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used.
    # @return [nil]
    def v1alpha_generation_text_to_image(engine_id, accept, text_to_image_request_body, opts = {})
      v1alpha_generation_text_to_image_with_http_info(engine_id, accept, text_to_image_request_body, opts)
      nil
    end

    # text-to-image
    # Generate an image from text
    # @param engine_id [String]  
    # @param accept [String]  
    # @param text_to_image_request_body [TextToImageRequestBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1alpha_generation_text_to_image_with_http_info(engine_id, accept, text_to_image_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: V1alphaGenerationApi.v1alpha_generation_text_to_image ...'
      end
      # verify the required parameter 'engine_id' is set
      if @api_client.config.client_side_validation && engine_id.nil?
        fail ArgumentError, "Missing the required parameter 'engine_id' when calling V1alphaGenerationApi.v1alpha_generation_text_to_image"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling V1alphaGenerationApi.v1alpha_generation_text_to_image"
      end
      # verify enum value
      allowable_values = ["image/png", "application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'text_to_image_request_body' is set
      if @api_client.config.client_side_validation && text_to_image_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'text_to_image_request_body' when calling V1alphaGenerationApi.v1alpha_generation_text_to_image"
      end
      # resource path
      local_var_path = '/v1alpha/generation/{engine_id}/text-to-image'.sub('{' + 'engine_id' + '}', CGI.escape(engine_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.goa.error'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Accept'] = accept
      header_params[:'Organization'] = opts[:'organization'] if !opts[:'organization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(text_to_image_request_body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key_header_Authorization']

      new_options = opts.merge(
        :operation => :"V1alphaGenerationApi.v1alpha_generation_text_to_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V1alphaGenerationApi#v1alpha_generation_text_to_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
