/**
 * Stability.ai REST API
 * Welcome to the Stability.ai REST API developer preview!  Please note, this is an alpha version of our new REST API, and is subject to change according to your feedback.  Feedback during this test is crucial for us to understand what the pain points are and how we can improve it going forward.  Changes will be communicated here, as well as on our online REST API documentation, which can be found at: https://api.stability.ai/docs  Your DreamStudio API key will be required for authentication. You can learn more about API keys here: https://platform.stability.ai/docs/getting-started/authentication  If you encounter any issues, please let us know in the #API discord channel: https://discord.gg/stablediffusion 
 *
 * The version of the OpenAPI document: 0.1
 * Contact: info@stability.ai
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AccountResponseBody
import org.openapitools.client.model.BalanceResponseBody
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object V1alphaUserApi {

  def apply(baseUrl: String = "https://api.stability.ai") = new V1alphaUserApi(baseUrl)
}

class V1alphaUserApi(baseUrl: String) {

  /**
   * Get information about the account associated with the provided API key
   * 
   * Expected answers:
   *   code 200 : AccountResponseBody (OK response.)
   * 
   * Available security schemes:
   *   api_key_header_Authorization (apiKey)
   */
  def v1alphaUserAccount()(implicit apiKey: ApiKeyValue): ApiRequest[AccountResponseBody] =
    ApiRequest[AccountResponseBody](ApiMethods.GET, baseUrl, "/v1alpha/user/account", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[AccountResponseBody](200)
      

  /**
   * Get the credit balance of the account/organization associated with the API key
   * 
   * Expected answers:
   *   code 200 : BalanceResponseBody (OK response.)
   * 
   * Available security schemes:
   *   api_key_header_Authorization (apiKey)
   * 
   * @param organization Optional: Allows for requests to be scoped to an organization other than the user's default.  If not provided, the user's default organization will be used.
   */
  def v1alphaUserBalance(organization: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[BalanceResponseBody] =
    ApiRequest[BalanceResponseBody](ApiMethods.GET, baseUrl, "/v1alpha/user/balance", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withHeaderParam("Organization", organization)
      .withSuccessResponse[BalanceResponseBody](200)
      



}

