/*
 * Stability.ai REST API
 * Welcome to the Stability.ai REST API developer preview!  Please note, this is an alpha version of our new REST API, and is subject to change according to your feedback.  Feedback during this test is crucial for us to understand what the pain points are and how we can improve it going forward.  Changes will be communicated here, as well as on our online REST API documentation, which can be found at: https://api.stability.ai/docs  Your DreamStudio API key will be required for authentication. You can learn more about API keys here: https://platform.stability.ai/docs/getting-started/authentication  If you encounter any issues, please let us know in the #API discord channel: https://discord.gg/stablediffusion 
 *
 * The version of the OpenAPI document: 0.1
 * Contact: info@stability.ai
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Error;
import java.io.File;
import org.openapitools.model.ImageToImageOptions;
import org.openapitools.model.MaskingOptions;
import org.openapitools.model.TextToImageRequestBody;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2022-12-31T22:15:06.514954-05:00[America/New_York]")
@Client("${openapi-micronaut-client-base-path}")
public interface V1alphaGenerationApi {
    /**
     * image-to-image
     * Generate big fancy pictures from small fancy pictures
     *
     * @param engineId   (required)
     * @param accept   (required)
     * @param initImage Initial image to use for the image-to-image generation (required)
     * @param options  (required)
     * @param organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used. (optional)
     */
    @Post(uri="/v1alpha/generation/{engine_id}/image-to-image")
    @Consumes({"application/vnd.goa.error"})
    @Produces({"multipart/form-data"})
    Mono<Void> v1alphaGenerationImageToImage(
        @PathVariable(name="engine_id") @NotNull String engineId, 
        @Header(name="Accept") @NotNull String accept, 
        @NotNull File initImage, 
        @NotNull @Valid ImageToImageOptions options, 
        @Header(name="Organization") @Nullable String organization
    );

    /**
     * image-to-image/masking
     * Paint fancy things into fancy pictures
     *
     * @param engineId   (required)
     * @param accept   (required)
     * @param initImage Initial image to use for the image-to-image generation (required)
     * @param options  (required)
     * @param organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used. (optional)
     * @param maskImage Optional mask image to use for masking. Must be the same dimensions as the &#x60;init_image&#x60;. Use the &#x60;mask_source&#x60; option to specify whether the white or black pixels should be inpainted. (Note: if you set &#x60;mask_source&#x60; to &#x60;INIT_IMAGE_ALPHA&#x60; you can omit the &#x60;mask_image&#x60; parameter completely.) (optional)
     */
    @Post(uri="/v1alpha/generation/{engine_id}/image-to-image/masking")
    @Consumes({"application/vnd.goa.error"})
    @Produces({"multipart/form-data"})
    Mono<Void> v1alphaGenerationMasking(
        @PathVariable(name="engine_id") @NotNull String engineId, 
        @Header(name="Accept") @NotNull String accept, 
        @NotNull File initImage, 
        @NotNull @Valid MaskingOptions options, 
        @Header(name="Organization") @Nullable String organization, 
        @Nullable File maskImage
    );

    /**
     * text-to-image
     * Generate an image from text
     *
     * @param engineId   (required)
     * @param accept   (required)
     * @param textToImageRequestBody  (required)
     * @param organization Optional: Allows for requests to be scoped to an organization other than the user&#39;s default.  If not provided, the user&#39;s default organization will be used. (optional)
     */
    @Post(uri="/v1alpha/generation/{engine_id}/text-to-image")
    @Consumes({"application/vnd.goa.error"})
    @Produces({"application/json"})
    Mono<Void> v1alphaGenerationTextToImage(
        @PathVariable(name="engine_id") @NotNull String engineId, 
        @Header(name="Accept") @NotNull String accept, 
        @Body @NotNull @Valid TextToImageRequestBody textToImageRequestBody, 
        @Header(name="Organization") @Nullable String organization
    );

}
